# fetch all relevant source files
graft compressonator_pyc
graft compressonator/cmp_core
graft compressonator/cmp_compressonatorlib
graft compressonator/applications/_libs/cmp_math
graft compressonator/applications/_plugins/common
graft compressonator/cmp_framework/common

# only include the licenses that we actually need
include compressonator/license/astc/license.txt
include compressonator/license/etcpak/license.txt
include compressonator/license/corelicense.txt
include compressonator/license/license.txt
